
<div class="tweet__item" data-tweet-item>

    <div class="tweet__content" data-tweet-content>
        <p class="tweet__tweet text--medium">
            {{{tweet}}}
        </p>
        <p class="tweet__via text--small">{{via}}</p>
    </div>

    <p class="tweet__meta" data-tweet-meta>
        <span class="tweet__reach text--small">{{retweets}} Retweets / {{favourites}} Favourites</span>
        <span class="tweet__actions">
            <a class="tweet__actions-icon" href="{{replylink}}"><span class="icon icon--tweet-reply"></span><span class="vh">Reply</span></a>
            <a class="tweet__actions-icon" href="{{retweetlink}}"><span class="icon icon--tweet-retweet"></span><span class="vh">Retweet</span></a>
            <a class="tweet__actions-icon" href="{{favouritelink}}"><span class="icon icon--tweet-favourite"></span><span class="vh">Favourite</span></a>
        </span>
    </p>

</div>
