
<div class="image-grid__item image-grid__item--portrait">
	<div class="image-grid__item-inner image-grid__item--portrait-inner">
		<picture>
	        <source media="(min-width: 64rem)" srcset="{{ large }}" />
	        <source media="(min-width: 40rem)" srcset="{{ medium }}" />
	        <source media="(min-width: 30rem)" srcset="{{ small }}" />
	        <img src="{{ base }}" alt="{{ altText }}" class="image-grid__item-img image-grid__item--portrait-img" />
	    </picture>
    </div>
</div>
